<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>Perfil do usuário</h1>
    <hr>
    <h3>Seja bem-vindo a página de perfil!<h3>
    <p>Faça login para continuar...</p>
</body>
</html>